* {
    font-family: var(--principal-font);
}

body {
    background-color: var(--light-color) !important;
    overflow: hidden;
}

#portfolio {
    padding-left: 40px;
}

.logo {

    background-image: url('../imgs/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;

}

/* BACKGROUNDS */
.bg-dark {
    background-color: var(--dark-color) !important;
    color: var(--light-color) !important;
}
.bg-light {
    background-color: var(--light-color) !important;
    color: var(--dark-color) !important;
}
.bg-white {
    background-color: #fff;
}
/* FONT STYLES */
.fs-supertitle {
    font-size: var(--supertitle-size);
    font-weight: bolder;
}
.fs-title {
    font-size: var(--title-size);
    font-weight: bold;
}
.fs-subtitle {
    font-size: var(--subtitle-size);
}
.fs-parag {
    font-size: var(--parag-size);
}

/* BUTTONS */
.btn-dark {
    border: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: .8em;
    outline: none !important;
    text-transform: uppercase;
}
.btn-dark:hover {
    opacity: .7;
    transition: .2s;
}

.btn-light {
    border: 0;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: .8em;
    outline: none !important;
    text-transform: uppercase;
}
.btn-light:hover {
    opacity: .7;
    transition: .2s;
}

.menu-btn {
    border: 0;
    background: none;
    color: var(--dark-color);
    opacity: .7;
    margin-top: .6em;
}

.menu-btn:hover {
    color: var(--light-blue-color);
    transition: .3s;
}

.btn-active {
    opacity: 1 !important;
    color: var(--dark-blue-color) !important;
}

.myself {
    background: url('../imgs/alex.png') var(--light-blue-color);
    background-position: center;
    background-position-y: 11vw;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 40vw;
    border-radius: 100%;
}

.project-logo {
    height: 80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1em;
}
